/* GENERAL  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* UTILITIES  */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
}

.w18 {
    width: 18%;
}
.w30 {
    width: 30%;
}

.w40 {
    width: 40%;
}

.w50 {
    width: 50%;
}

.w60 {
    width: 60%;
}

.w70 {
    width: 70%;
}

.h50 {
    height: 50%;
}

.mb150 {
    margin-bottom: 150px;
}

.mb120{
    margin-bottom: 120px;
}
.blue-btn {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    background-color: #0061ff;
    text-decoration: none; 
    line-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.del-btn {
    display: inline-block;
    color: #000;
    font-size: 14px;
    background-color: transparent;
    text-decoration: none; 
    line-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #000;
}

.wht-btn {
    display: inline-block;
    color: #000;
    font-size: 16px;
    background-color: #fff;
    text-decoration: none;
    line-height: 40px;
    padding-left: 50px;
    padding-right: 50px;
}

.small {
    line-height: 30px;
    font-size: 13px;
}

h2 {
    margin-bottom: 60px;
    font-size: 40px;
}

h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

h4 {
    font-size: 16px;
    margin-bottom: 10px;
}
.container {
    width: 70%;
    margin: auto;
}

.mx60 {
    margin-left: 60px;
    margin-right: 60px;
}

.my50 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.my100 {
    margin-top: 100px;
    margin-bottom: 100px;

}

.ptl50 {
    padding-top: 50px;
    padding-left: 50px;
}

.bdgrey {
    border: 1px solid #ccc;
}

.bbottomgrey {
    border-bottom: 1px solid #ccc;;
}

/* BACKGROUNDS  */

.bg-green {
    background-color: #a2d39b;
}

.bg-fuchsia {
    background-color: #61082b;
}

.bg-skyblue {
    background-color: #0093ce;
}

.bg-red {
    background-color: #ff1c1c;
}

.bg-darkred {
    background-color: #d5001f;
}

.bg-cyan {
    background-color: #b4d0e7;
}

.bg-blue {
    background-color: #0d2481;
}

.bg-yellow {
    background-color: #ffd830;
}

.bg-sky {
    background-color: #b4d0e7;
}

.bg-grey {
    background-color: #f5f5f5;
}

.bg-black {
    background-color: #000;
}



/* DEBUG  */

.debug-box {
    background-color: rgba(0, 0, 0, .25);
    height: 100px;
}

/* HEADER  */

header {
    /* position: fixed; */
    height: 80px;
    background-color: #fff;
    width: 100%;
    z-index: 1;
}

nav > .col:last-of-type {
    float: right;
    text-align: right;
}

nav {
    line-height: 80px;
    padding: 0 20px;
}

nav img {
    vertical-align: middle;
    display: inline-block;
}

.menu {
    display: inline-block;
    list-style: none;
}

.menu li {
    display: inline-block;
    margin-right: 40px;
}

.menu li:first-child {
    margin-left: 40px;
}

nav a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

/* HERO  */

h1 {
    font-size: 70px;
    margin-bottom: 50px;
}

.hero img {
    max-width: 100%;
}
.hero-container {
    width: 80%;
    margin: auto;
    position: relative; 
    top: 100px;
}

.hero p {
    margin-bottom: 30px;

}

.hero-container .cta {
    margin-bottom: 10px;
}

.hero-container i{
    display: block;
    font-size: 40px;
    margin-top: 50px;
}

/* PRODUCTS  */

.card  {
    width: calc((100% - 120px) / 3);
}

.minheight {
    min-height: 1200px;
}

.account-type {
    text-align: center;
    padding: 10px;
}

.account-type .far{
    padding-right: 5px;
}

.fee {
    padding: 35px 30px;
    font-size: 13px;
}

.features {
    display: block;
    list-style: none;
    text-align: left;
    transform: translate(-14px ,0);
}

.features li {
    margin-bottom: 30px;
}

.fee .detail {
    color: grey;
    font-size: 13px;
}

.fee .blue-btn {
    display: block;
    text-align: center;
    margin-bottom: 35px;
}

.fee hr {
    width: 50px;
    color: #ccc;
}

/* PARTNER SECTION  */

.partner img {
    max-width: 100%;
}

.partner p {
    line-height: 25px;
    margin-bottom: 30px;
}

/* BUSINESS FEATURES SECTION  */

.card img {
    max-width: 100%;
}

/* CLIENTS SECTION  */

.h455 {
    height: 455px;
}

.client img {
    position:relative;
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 60%;
    filter: invert(1);
    object-fit: cover;
    vertical-align: middle;
}

.show img {
    width: 30%;
}

/* JUMBO SECTION  */

.jumbo {
    padding-top: 120px;
    padding-bottom: 60px;
}

.jumbo h2 {
    color: #61082b;
}

.jumbo .col:last-child {
    text-align: right;
}

/* FAQ SECTION  */

.faqs h2 {
    font-size: 30px;
}

.faq {
    padding: 35px 0;
}

.faq:first-of-type {
    border-top: 1px solid #ccc;
}

.faq .col:last-child {
    text-align: right;
}

/* FOOTER */

footer {
    margin-top: 120px;
    color: #fff;
}

.footer-container {
    width: 80%;
    margin:auto;
}

footer ul {
    list-style: none;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul li a {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
}

footer hr {
    color: white;
    width: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.language {
    color: #999999;
    font-size: 14px;
}





